# Environment variables
.env

# Database files
*.db

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# IDE files
.vscode/
.idea/

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/
